h1{
  font-size: 3rem;
  text-transform: uppercase;
}

h2{
  font-size: 2rem;
}

p{
  line-height: 1.5;
}


h3{
  font-size: 30px;
  text-transform: capitalize;
}

h1,h2,h3,p,li{
  font-family: sans-serif;
}

footer p {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* child selector */
article header p {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-style: italic;
}

/* id selector */
#author{
  font-size: 14px;
}